[submodule "solana"]
	path = solana
	url = https://github.com/taunt-bet/solana.git
[submodule "backend"]
	path = backend
	url = https://github.com/taunt-bet/backend.git
[submodule "waitlist"]
	path = waitlist
	url = https://github.com/taunt-bet/waitlist.git
	branch = dev
[submodule "chat"]
	path = chat
	url = https://github.com/taunt-bet/chat.git
